<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
<form method="post">
    <label for="username">用户名</label>
    <input id="username" type="text" name="username">
    <label for="password">密码</label>
    <input id="password" type="text" name="password">
    <input type="submit">
</form>
</body>
</html>